<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']" (click)="isCollapsed = true">Banking</a>
        <button (click)="toggle()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarSupportedContent">
            <ul ngbNav #nav="ngbNav" class="navbar-nav me-auto mb-2 mb-lg-0" [activeId]="'#'">
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle [ngClass]="modulePathActiveClass('active','retail')">Retail</a>
                    <div ngbDropdownMenu class="bg-primary">
                        <a ngbDropdownItem routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['retail']" (click)="collapse()">Home</a>
                        <a ngbDropdownItem routerLinkActive="active" [routerLink]="['retail/path']" (click)="collapse()">Path</a>
                        <a ngbDropdownItem routerLinkActive="active" [routerLink]="['retail/payment']" (click)="collapse()">Payment</a>
                    </div>
                </li>
                <li ngbDropdown class="nav-item">
                    <a href (click)="false" class="nav-link" ngbDropdownToggle [ngClass]="modulePathActiveClass('active','business')">Business</a>
                    <div ngbDropdownMenu class="bg-primary">
                        <a ngbDropdownItem routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['business']" (click)="collapse()">Home</a>
                        <a ngbDropdownItem routerLinkActive="active" [routerLink]="['business/path']" (click)="collapse()">Path</a>
                        <a ngbDropdownItem routerLinkActive="active" [routerLink]="['business/payment']" (click)="collapse()">Payment</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>