name: Kiunzi
on:
  push:
    branches:
    - 'master'
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use Node 12.x
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build:app-app1:ci
    - name: Test
      run: npm run test:app-app1:ci
    - name: Archive build
      if: success()
      uses: actions/upload-artifact@v1
      with:
        name: deploy_dist
        path: dist/app-app1
    - name: Archive code coverage result
      if: success()
      uses: actions/upload-artifact@v1
      with:
        name: deploy_coverage
        path: coverage
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Download build
      uses: actions/download-artifact@v1
      with:
        name: deploy_dist
