name: Kiunzi
on:
  push:
    branches:
    - 'master'
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Use Node 18.x
      uses: actions/setup-node@v1
      with:
        node-version: '18.x'
    - name: Install dependencies
      run: npm ci
    - name: Build Library
      run: npm run build:lib-micro-front-end-ci
    - name: Build App1
      run: npm run build:app-app1-ci
    - name: Build App2
      run: npm run build:app-app2-ci
    - name: Build Shell
      run: npm run build:app-shell-ci
    - name: Archive build
      if: success()
      uses: actions/upload-artifact@v1
      with:
        name: deploy_dist
        path: dist
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Download build
      uses: actions/download-artifact@v1
      with:
        name: deploy_dist
